<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MaterialDesignColors" version="1.1.2" targetFramework="net461" />
  <package id="MaterialDesignThemes" version="2.4.0.1044" targetFramework="net461" />
  <package id="MaterialSkin" version="0.2.1" targetFramework="net461" />
  <package id="MaterialSkin.Updated" version="0.2.2" targetFramework="net461" />
  <package id="Menulab.RichTextBox" version="1.1.0" targetFramework="net461" />
</packages>